.fl {
	float: right;
}
.fr {
	float: right;
}

.content {
	flex: 1;
	// background-image: linear-gradient(to bottom, transparent, #f8fafc);
	background-image: linear-gradient(to bottom, transparent, #f4f5f6);
}

.uni-forms {
	.content-clear-icon {
		font-size: 44rpx !important;
	}
	.placeholder,
	.uni-input-placeholder {
		font-size: 28rpx !important;
		color: #999 !important;
	}
	image,
	.is-input-border {
		border-radius: 12rpx !important;
	}
}

.tabs {
	padding: 0 20rpx;
	margin-top: 20rpx;
	display: flex;
	.tab-item {
		flex: 1;
		line-height: 2;
		font-size: 36rpx;
		font-weight: 700;
		font-style: italic;
		text-align: center;
	}
}
.tab-item-active {
	color: #0085ff;
}

.card-content__body {
	& > view {
		display: flex;
		margin-bottom: 24rpx;
		&:last-child {
			margin-bottom: 0;
		}
		& > text {
			font-size: 30rpx;
			&:first-child {
				min-width: 4em;
				text-align: right;
				margin-right: 40rpx;
			}
			&:last-child {
				flex: 1;
				width: 0; // 解决 flex 布局下，设置省略号不显示问题
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
	.applicant {
		image {
			width: 80rpx;
			height: 80rpx;
		}
		> view {
			display: flex;
			flex-direction: column;
			margin-left: 20rpx;
			text {
				line-height: 40rpx;
				&:first-child {
					min-width: auto;
					font-size: 24rpx;
					color: #666666;
				}
			}
		}
	}
	.bold {
		font-weight: 700;
	}
	.tar {
		text-align: right;
	}
	.wrap {
		white-space: inherit !important;
	}
}

.card-status {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 20rpx;
	height: 48rpx;
	line-height: 48rpx;
	font-size: 24rpx;
	border-bottom-left-radius: 12rpx;
	border-top-right-radius: 12rpx;
	color: #434a4d;
}

.btn-row {
	margin: 20rpx 50rpx;
	display: flex;
	button {
		flex: 1;
		line-height: 88rpx;
		font-size: 30rpx;
		font-weight: bold;
		border-radius: 12rpx;
		&:not(:first-child) {
			margin-left: 60rpx;
		}
	}
	button[type='primary'] {
		background-image: linear-gradient(to right, #12aaff, #14e3f0);
	}
	button[type='warn'] {
		background-image: linear-gradient(to right, #ffa5a5, #ffcea1);
		color: rgba(198, 20, 16, 1);
	}
	.button-hover[type='warn'] {
		color: hsla(1, 85%, 42%, 0.6);
	}
	button[type='info'] {
		background-image: linear-gradient(to right, #d5dce1, #a7b9ca);
		color: #666666;
	}
	.button-hover[type='info'] {
		color: hsla(0, 0%, 40%, 0.6);
	}
}

.cancel-btn {
	position: absolute;
	bottom: 40rpx;
	right: 20rpx;
	padding: 0 24rpx;
	line-height: 52rpx;
	font-size: 28rpx;
	color: #666666;
	background: #fff;
	&:after {
		border: 1px solid #ffcb9a;
	}
}
// .apply-btn {
// 	position: absolute;
// 	bottom: 20px;
// 	right: 10px;
// 	font-size: 14px;
// 	line-height: 26px;
// 	padding: 0 12px;
// 	color: #fff;
// 	background-image: linear-gradient(to right, #12aaff, #14e3f0);
// }
